.containerSlide {
    width: 100%;
    margin: auto;
    padding-top: 0;
}

.containerSlide img {
    height: 500px;
    width:100%
}
.container-Second{
    display: flex;
    justify-content: center;
    align-items: center;
}
.react-slideshow-container+ul.indicators{
    margin-top:-3%
}
.container-Second{
    background-color:#fff6f4;
    margin-top: 0;
}
.ContentSection h4{
    font-size: 24px;
    font-weight: 400;
    margin-right: 4%;
    padding-top: 5px;
}
.viewAllBtn{
padding:5%;
 width: 200px;
 height:50px;
 background-color: #179355;
 color:white;
 border: 2px solid  #179355;
 font-size: 18px;
 border-radius: 5%;
}
.viewAllBtn:hover{
    background-color: white;
    color:#179355;
    border: 2px solid #179355
}
.ImageContainer{
    display: flex;
}
.ImageSection{
    margin: auto;
    padding-top: 3%;
  
}
.ImageSection img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h2{
    font-size: 40px;
    font-weight: 200;
}
.fourthsec{
    margin: auto;
    padding-top: 3%;
}
.fourthsec img{
    width: 300px;
    height: 300px;
}
.jade:hover{
    content: url("../Image//newapprival1hover.jpg");
}
.pinkRose:hover{
    content: url("../Image/newarrival2hover.jpg");
}
.snake:hover{
    content: url("../Image/newarrival3hover.jpg");
}
.cactus:hover{
    content: url("../Image/newarrival4hover.jpg");
}
.fourthsec p, .ImageSection p{
    font-size: 25px;
    font-weight:400;
}
.contentewithicon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentewithicon img{
    width: 50px;
    height: 50px;
}
.contentewithicon h3{
    font-size: 32px;
    font-weight: 400;
}
