body{
    font-family: "montserrat",sans-serif ;
    background:linear-gradient(rgba(0 ,0 ,0, 0.5) , rgba(0 ,0 ,0, 0.4)), url(../Image/bckgrnd.jpg);
    background-size: cover;
    background-position: center;;
  }
  .box{
    border-radius: 20px;
    width:300px;
    border: 3px solid #73AD21;
    padding: 30px;
    background-color:rgba(0 ,0 ,0, 0.3);
    box-shadow : 1px 1px 2px yellow;
    margin:auto;
}
.wrapper{
    height:100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}